body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #f5f5f5;
}


header {
    background: #111;
    color: #fff;
    padding: 15px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header h2 {
    color: #f5c542;
    margin: 0;
}

nav a {
    color: #fff;
    text-decoration: none;
    margin-left: 20px;
    font-size: 14px;
}


.hero {
    height: 70vh;
    background: url("https://images.unsplash.com/photo-1517248135467-4c7edcad34c4") center/cover no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: white;
}




.hero h1 {
    font-size: 36px;
    margin-bottom: 10px;
}

.hero p {
    font-size: 15px;
    margin-bottom: 20px;
}

.hero button {
    padding: 10px 20px;
    background: #f5c542;
    border: none;
    cursor: pointer;
    font-weight: bold;
}


.section {
    padding: 60px 20px;
    text-align: center;
    background: #fff;
}

.section h2 {
    margin-bottom: 40px;
}

.dishes {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.dish {
    width: 220px;
}

.dish img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 10px;
}


.about {
    background: #1a1a1a;
    color: #ddd;
    padding: 60px 20px;
    text-align: center;
}

.about h2 {
    color: #f5c542;
    margin-bottom: 20px;
}

.about p {
    max-width: 700px;
    margin: auto;
    font-size: 14px;
    line-height: 1.6;
}


footer {
    background: #111;
    color: #777;
    text-align: center;
    padding: 15px;
    font-size: 12px;
}