body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
h1 {
    color:#1e90ff
}
input, textarea {
       border-color: #1e90ff ;
    }
button {
    background-color: #00bfff;
}