/* *{
    color: aliceblue;
} */
div {
  background-color: blueviolet;
  text-align: center;
}
h1,
h2 {
  color: blueviolet;
}
p > b {
  color: blueviolet;
}
ol {
  list-style: none;
}
#red {
  color: red;
}
li:hover {
  color: rgb(80, 9, 148);
}
a:hover{
    color: darkmagenta;
}
